


body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Space Mono';
}

header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    background-color: black;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 40%;
    text-align: left;
    padding: 2em;

    li {
     color: #FFFFFF;
     margin: 1em 0;



    }
}

footer {
    background-color: black;
    color: #FFFFFF;
}

